.block:not(:last-child) {
    margin-bottom: 1.5rem;
  }

.navbar {
  background-image: url(Assets/basketball-court.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120px;

}

a:hover img {
  border: none !important;
  display: block;
  }

#search-results {
  visibility: hidden;
}